body {

background-image: url(https://c.tenor.com/QOsCwQcifo8AAAAC/cute-yoshi.gif);  
color: white;
}


h1 {
  text-align: center;
}
p {
  text-align: center;
}
.V {
  margin-left: 420px;
  width: 500px;
  height: 300px;
}

@media screen and (max-width: 421px) {
  .V {
    margin-left: 0px;
    width: 400px;
    height: 300px;
  }
}
